<mat-toolbar>

  <section>
    <a mat-button href="/">Great Health</a>
    <a mat-button href="/doctors">Doktorzy</a>
    <a mat-button href="/patients">Pacjenci</a>
    <a mat-button href="/doctor-appointments">Wizyty</a>
    <a mat-button href="/patient-appointments">Wizyty</a>
    <a mat-button href="/specialties">Specjalności</a>
    <a mat-button href="/services">Usługi</a>
  </section>
  <div class="user-info">
    <span>{{ (userData$ | async)?.userData?.name }}</span>
    <button mat-icon-button class="example-icon favorite-icon" *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" *ngIf="!isAuthenticated" (click)="logout()">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
