.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
}

.user-info {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
