<div>
    <div class="header">
      <h1>Specjalizacje</h1>
      <button mat-icon-button class="example-icon favorite-icon" (click)="create()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <mat-card appearance="outlined">
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nazwa </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <div class="action">
                    <button mat-icon-button class="example-icon favorite-icon">
                    <mat-icon (click)="delete(element)">delete</mat-icon>
                    </button>
                </div> 
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
      </mat-card-content>
    </mat-card>
  </div>